.body {
    background-color: rgb(5, 5, 51);
    color: aliceblue;
    font-family: "Georama", sans-serif;
  }
  .heading {
    font-size: 50px;
    padding: 10px;
    text-align: center;
    text-decoration: underline;
  }
  .popular{
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
  }
  #search {
    width: 350px;
    font-size: 25px;
    outline: none;
    position: absolute;
    top: 10%;
    right: 3%;
    border: none;
    border-radius: 5px;
    padding: 2px 10px;
  }
  #search-movie {
    position: absolute;
    top: 18%;
    right: 2%;
    margin-top: 0;
    width: 400px;
    height: 300px;
    overflow: auto;
    text-align: left;
  }
  #search-movie::-webkit-scrollbar{
      width: 0%;
  }
  .movie-list:hover {
    background-color: rgb(39, 39, 129);
  }
  .movie-list {
    display: flex;
    height: 100px;
    margin: 10px 5px;
    text-justify: auto;
    cursor: pointer;
  }
  .movie-list > img {
    display: inline-block;
    height: 100%;
    width: 100px;
  }
  .movie-list > div > p {
    margin: 5px 8px;
    padding: 2px;
  }
  #movie-details {
    display: flex;
    width: 800px;
    height: 400px;
    padding: 2%;
  }
  #movie-details > img {
    height: 100%;
    border-radius: 5px;
  }
  #movie-details > div {
    padding: 10px;
  }
  #popular-movies {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    justify-content: space-between;
  }
  #popular-movies >div{
    cursor: pointer;
    height: 550px;
    margin-bottom: 15%;
  }
  #popular-movies >div >p{
      padding: 0% 15px;
  }
  #popular-movies >div >h3{
      padding: 0% 15px;
  }
  #popular-movies >div:hover{
    background-color: rgb(24, 164, 219);
    color: black;
  }
  #popular-movies > div > img {
    width: 100%;
  }
  .modal{
    width: 98%;
    height: 100%;
    background-color:rgba(0, 0, 0, .7);
    color:black;
    position: absolute;
    top: 0;
    
    justify-content: center;
    align-items: center;
    display: none;
  }
  .modal-content{
    width: 500px;
    height: 400px;
    background-color: white;
    opacity: 1;
    border-radius: 4px;
    text-align: center;
    padding: 20px;
    position: relative;
  }
  .lg{
    display: block;
    margin: 15px auto;
    width: 250px;
    font-size: 20px;
    outline: none;
  }
  .submit{
    font-size: 26px;
    width: 150px;
    border-radius: 30px;
    background-color: rgb(57, 79, 206);
    color: white;
    outline: none;
  }
  #close{
    position: absolute;
    top:15px;
    right: 15px;
    padding: 10px;
    font-weight:600;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
  }
  .login-register{
    position: absolute;
    top:10px;
    right: 10px;
    padding: 10px;
  }
  .login-register > button{
    font-size: 20px;
    margin: auto 5px;
    outline: none;
    background-color: rgb(16, 230, 123);
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  #register-btn, #login-btn{
    font-size: 20px;
    border-radius: 30px;
    margin: 0;
    border: none;
    padding: 10px;
  }
  #register-btn{
    background-color: rgb(107, 83, 83);
    color: blanchedalmond;
  }
  .reg-div{
  display: block;
  }
  .log-div{
  display: none;
  }